**/*history
**/*.local
**/*.png
**/*.log

/ario
/chromium
/coc
/dconf
/mpd
/ncmpcpp/lyrics
/nvim/**/.*
/pipewire
/pulse/*-source
/pulse/*-sink
/pulse/*.tdb
/pulse/cookie
/tor/bridges

/pavucontrol.ini
/mimeapps.list
