**/*history
**/*.local
**/*.png

/environment.d/??-private.conf

/ario
/chromium
/coc
/dconf
/mpd
/pipewire
/pulse/*-source
/pulse/*-sink
/pulse/*.tdb
/pulse/cookie
/tor/bridges

/pavucontrol.ini
/mimeapps.list
