*
!*/

!/.gitignore
!/Xresources
!/alacritty/**/*
!/aria2/*.conf
!/bash/**/*
!/beets/config.yaml
!/dunst/**/*
!/gtk-3.0/settings.ini
!/gtkrc-2.0
!/helix/**/*
!/install
!/jupyter/jupyter_notebook_config.py
!/jupyter/nbconfig/notebook.json
!/latexmk/**/*
!/mpDris2/**/*
!/mpd/**/*
!/ncmpcpp/config
!/paru/**/*
!/pulse/**/*
!/qt5ct/**/*
!/sakura/**/*
!/sirula/**/*
!/starship.toml
!/sv/**/*
!/sway/**/*
!/swaylock/config
!/systemd/user
!/user-dirs.dirs
!/waybar/**/*
!/zathura/**/*

*.log
history
cookie
supervise/
*.local
*.png
*.jpg
*.jpeg
