[Unit]
Description=Ultra fast download utility daemon
After=network.target

[Service]
WorkingDirectory=%E/aria2
ExecStart=/usr/bin/sh -c 'exec /usr/bin/aria2c --rpc-secret=$$ARIA_SECRET --{input-file,save-session}=%C/aria2.session'
KillSignal=SIGINT
TimeoutStopSec=1m
Restart=on-failure

[Install]
WantedBy=default.target
